 {{!-- <div>
 <a class="nav-item nav-link" href="/beers">Random Beer</a>
    
 </div> --}}


 <div>
<img src="{{this.image_url}}">
<p>{{this.name}}</p>
<p>{{this.description}}</p>
<p>{{this.tagline}}</p>
<p>{{this.food-pairing}}</p>
<p>{{this.brewer-tips}}</p>

</div>